.nav {
    background: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50px;
    
}

.nav ul {
    display: flex;
    list-style: none;
}


.nav a {
    color: black;
    text-decoration: none;
    margin: 20px;
}

.img1 {
    width: 250%;
    height: 50px;
}