.hero-container {
  width: 80%;
  padding: 60px;
}

.Hero h1 {
  color: black;
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: 800;
  margin-top: 15px;
  line-height: 0.8;
}

.Hero1 h4 {
  color: black;
  font-size: 23px;
  font-weight: 700;
  margin-top: -30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

/* Button Layout */
.button-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn1,
.btn2 {
  height: 45px;
  padding: 0 25px;
  font-size: 15px;
  font-weight: 800;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.btn1 {
  background-color: blue;
  color: white;
}

.btn1:hover {
  background-color: white;
  color: blue;
  border: 2px solid black;
}

.btn2 {
  background-color: rgb(130, 198, 230);
  color: blue;
}

.btn2:hover {
  background-color: white;
  color: blue;
  border: 2px solid black;
}

/* Image styling */
.notion-image {
  width: 500%;
  height: 380px;
  max-width: 650px;
  margin-top: -250px;
  display: block;
  margin-left: 550px;
  margin-right: auto;
}

.txt h5 {
  color: black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  opacity: 0.5;
  margin-top: -90px;
   
}

.affrim,.Netflix, .Discord, .Figma {
  width: 100px;
  max-width: 200px;
  height: 30px;
  display: inline-block;
  margin: 10px;
  opacity: 0.5;
}

.txt {
  margin-top: -50px;
}
